.navbar {
  background-color: #fff !important;
  border-bottom: 1px solid #01033c;
}

.navbar .nav-link {
  text-transform: uppercase;
  color: #01033c;
  font-weight: 500;
}

.navbar .navbar-brand {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  color: #01033c;
  font-weight: bold;
}

.navbar .navbar-brand img {
  margin-right: 10px;
}

@media (max-width: 992px) {
  .navbar-nav {
    display: none;
  }
}
